<!DOCTYPE html>
<html manifest="/manifest">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><%= @title %></title>
	
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=0;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<!--<link rel="apple-touch-icon" href="se_icon.png"/>-->
	<!--<link rel="apple-touch-startup-image" href="se_startup.png">-->
	
	<link rel="stylesheet" type="text/css" href="css/cockatweet.css" media="screen" />
	<script type="text/javascript" src="js/cockatweet.js"></script>
</head>
<body>
	<p id="version">cock a tweet</p>
	<div id="cockatweet">
		
		
		
	</div>
</body>
</html>